<html>

<head>

<title> faculty Screen </title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<style>

	#a {

			position: fixed;

			top: 15%;
			}


		.error{

	color:#FFFFFF;

		background-color:#E53935;

				border-color: #a22a27;
			}



	.success{

	color: #FFFFFF;

	background-color: #43A047;

		border-color: #2c692f;
			}
.warning{
color:#FFFFFF;
background-color: #43A047;

		border-color: #2c692f;
}


</style>

</head>

	<body  style="background:lightblue">
	<div style="position:relative;top:0%; right:0%">

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

		<a class="nav-link" href="/home"><button class="btn-lg" style="color:white;background-color:black">Home</button></a>
   <a class="nav-link" href="/logout"><button class="btn-lg" style="color:white;background-color:black">Logout</button></a>

</nav>
	</div>

	<div id="a" class="col-sm-6 col-sm-offset-3">

<center><h1 style="color:red;font-family:Times new roman;">Profile</h1></center>
			<br/>







		<div class=" col-sm-6 col-sm-offset-3 text-center">
        <p>email: {{email}}</p>
        <p>{{name}}</p>
        <p>{{branch}}</p>
        <p>{{address}}</p>
        <p>{{mobile}}</p>
        <p>{{post}}</p>

	<form action="/updatef" method="GET">
		<input type="hidden" name="html" value="1">
		<button id="create" name="create" class="col-sm-6 btn-md btn btn-success">update</button><br/><br/></form></div>

<br>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

