<html>

<head>

<title> Student Screen </title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<style>

	#a {

			position: fixed;

			top: 15%;
			}


		.error{

	color:#FFFFFF;

		background-color:#E53935;

				border-color: #a22a27;
			}



	.success{

	color: #FFFFFF;

	background-color: #43A047;

		border-color: #2c692f;
			}
.warning{
color:#FFFFFF;
background-color: #43A047;

		border-color: #2c692f;
}


</style>

</head>

	<body  style="background:lightblue">
	<div style="position:relative;top:0%; right:0%">

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

		<a class="nav-link" href="/home"><button class="btn-lg" style="color:white;background-color:black">Home</button></a>
   <a class="nav-link" href="/logout"><button class="btn-lg" style="color:white;background-color:black">Logout</button></a>

</nav>
	</div>

	<div id="a" class="col-sm-6 col-sm-offset-3">

<center><h1 style="color:green;font-family:Times new roman;">Choose an Action</h1></center>
			<br/>

		{% for message in messages %}

 <div class="row col-sm-6 col-xs-12 col-md-4" style="position:fixed; right:20px; top:20px">

	<div class="col-sm-12 col-xs-12 col-md-12">

	<div class="alert {{ message.tags }} alert-dismissable">

			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

		{{message }}
			</div>
		</div>
	  </div>
    {% endfor %}

		<div class=" col-sm-6 col-sm-offset-3 text-center">


	<br><a href="/viewattendance"><button id="create" name="create" class="col-sm-12 btn-lg btn btn-danger">View attendance</button></a><br/><br>
<br>
			<br><a href="/seemarks"><button id="create" name="create" class="col-sm-12 btn-lg btn btn-danger">View marks</button></a><br/><br>
<br>
			<a href="/addstudentinfo"><button id="create" name="create" class="col-sm-12 btn-lg btn btn-danger">Profile</button></a><br/><br/>
<br>

		<a href="/changepassword"><button id="create" name="create" class="col-sm-12 btn-lg btn btn-danger">Change Password</button></a><br/><br/>
<br>


		</div>



		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

