<html>
	<head>
		<title> UPload attendance </title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<style>
			#a {
				position: fixed;
				top: 15%;
			}
			.error{
				color:#FFFFFF;
				background-color:#E53935;
				border-color: #a22a27;
			}

			.success{
				color: #FFFFFF;
				background-color: #43A047;
				border-color: #2c692f;
			}
		</style>
	</head>
	<body  style="background:lightblue">
    <div style="position:relative;top:0%; right:0%">

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

		<a class="nav-link" href="/home"><button class="btn-lg" style="color:white;background-color:black">Home</button></a>
   <a class="nav-link" href="/logout"><button class="btn-lg" style="color:white;background-color:black">Logout</button></a>

</nav>
	</div>
		<div id="a" class="col-sm-4 col-sm-offset-3">
			<center><h2 style="color:red">Update Marks</h2></center>
			<br/>
			{% for message in messages %}
	  <div class="row col-sm-6 col-xs-12 col-md-4" style="position:fixed; right:20px; top:20px">
		<div class="col-sm-12 col-xs-12 col-md-12">
			<div class="alert {{ message.tags }} alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{message }}
			</div>
		</div>
	  </div>
    {% endfor %}


 <input type="hidden" name="branch"  placeholder="brsnch" class="form-control input-md"value="{{branchid}}" required="">
				  <input type="hidden" name="subject"  placeholder="brsnch" class="form-control input-md"value="{{subjectid}}" required="">



		 <table class="table">
    <thead>

      <tr>
		  <th>studentname</th>
        <th>internalmarks</th>
        <th>externalmarks</th>


      </tr>
    </thead>
    <tbody>
	{% for i in markslist %}

      <tr>
	<form action="/modifymarks" method="POST">
		  	  <td>{{i.studentname}}</td>
          <input type="hidden" name="subjectid" value="{{i.msubjectid}}">
          <input type="hidden" name="studentid" value="{{i.studentid}}">
        <td><input type="number" value="{{i.internalmarks}}" name="intmarks"></td>
        <td><input type="number" value="{{i.externalmarks}}" name="extmarks"></td>
        <td><button id="create" name="create" class="col-sm-12 btn-lg btn btn-danger">update</button><br/><br></td>


</form>
      </tr>

{% endfor %}
    </tbody>

  </table>

	</div>



		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
