<html>
	<head>
		<title> Create Customer </title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<style>
			#a {
				position: fixed;
				top: 15%;
			}
			.error{
				color:#FFFFFF;
				background-color:#E53935;
				border-color: #a22a27;
			}

			.success{
				color: #FFFFFF;
				background-color: #43A047;
				border-color: #2c692f;
			}
		</style>
	</head>
	<body>
		<div style="position:absolute;top:5%; right:5%">
			<a href="/home"><button class="btn btn-success">Home</button></a>
			<a href="/logout"><button class="btn btn-warning">Logout</button></a>
		</div>
		<div class="col-sm-6 col-sm-offset-3">
			<br><br><center><h2>Change Password</h2></center>
			<br/>
			{% for message in messages %}
	  <div class="row col-sm-6 col-xs-12 col-md-4" style="position:fixed; right:20px; top:20px">
		<div class="col-sm-12 col-xs-12 col-md-12">
			<div class="alert {{ message.tags }} alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{message }}
			</div>
		</div>
	  </div>
    {% endfor %}
			<form class="form-horizontal" method="POST" action="/createfaculty">

				{% csrf_token %}

				<fieldset>

				<!-- Form Name -->


				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="oldpassword">Old Password</label>
				  <div class="col-md-4">
				  <input id="oldpassword" name="oldpassword" type="text" placeholder="Old password" class="form-control input-md" required="" >

				  </div>
				</div>
                    <!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="newpassword">New Password</label>
				  <div class="col-md-4">
				  <input id="newpassword" name="newpassword" type="text" placeholder="New password" class="form-control input-md" required="">

				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="cnewpassword">Branch</label>
				  <div class="col-md-4">
				  <input id="cnewpassword" name="cnewpassword" type="text" placeholder="Confirm new Password" class="form-control input-md" required="">

				  </div>
				</div>


				<div class="form-group">
				  <label class="col-md-4 control-label" for="submit"></label>
				  <div class="col-md-8">
					<button id="submit" type="submit" class="btn btn-primary">Submit</button>
					<button id="reset" type="reset" class="btn btn-danger">Reset</button>
				  </div>
				</div>

				</fieldset>
				</form>

		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
